<footer class="bg-dark py-4 mt-4">
   <div class="container text-light">
      <div class="row">
         <!-- Candidato -->
         <div class="col-md-3">
            <h6 class="title-primary-custom fw-bold text-uppercase text-decoration-underline">soy un candidato</h6>
            <ul class="list-unstyled">
               <li><a href="#" class="text-decoration-none">Regístrate aquí</a></li>
               <li><a href="#" class="text-decoration-none">Descarga app</a></li>
               <li><a href="#" class="text-decoration-none">Orientación Lab</a></li>
               <li><a href="#" class="text-decoration-none">Centro Ayuda</a></li>
            </ul>
         </div>
         <!-- Empresa -->
         <div class="col-md-3">
            <h6 class="title-primary-custom fw-bold text-uppercase text-decoration-underline">soy una empresa</h6>
            <ul class="list-unstyled">
               <li><a href="#" class="text-decoration-none">Regístrate aquí</a></li>
               <li><a href="#" class="text-decoration-none">Descarga app</a></li>
               <li><a href="#" class="text-decoration-none">Publica tus ofertas</a></li>
               <li><a href="#" class="text-decoration-none">Centro Ayuda</a></li>
            </ul>
         </div>
         <!-- Sobre nosotros -->
         <div class="col-md-3">
            <h6 class="title-primary-custom fw-bold text-uppercase text-decoration-underline">sobre nosotros</h6>
            <ul class="list-unstyled">
               <li><a href="#" class="text-decoration-none">Nuestros Servicios</a></li>
               <li><a href="#" class="text-decoration-none">Trabaja con Nosotros</a></li>
               <li><a href="#" class="text-decoration-none">Noticias</a></li>
               <li><a href="#" class="text-decoration-none">Conócenos</a></li>
            </ul>
         </div>
         <!-- Términos -->
         <div class="col-md-3">
            <h6 class="title-primary-custom fw-bold text-uppercase text-decoration-underline">términos legales</h6>
            <ul class="list-unstyled">
               <li><a href="#" class="text-decoration-none ">Regístrate aquí</a></li>
               <li><a href="#" class="text-decoration-none ">Descarga app</a></li>
               <li><a href="#" class="text-decoration-none ">Orientación Lab</a></li>
               <li><a href="#" class="text-decoration-none ">Centro Ayuda</a></li>
            </ul>
         </div>
      </div>

      <!-- Branding + redes -->
      <div class="row mt-4">
         <div class="col-md-9">
            <h4 class="title-primary-custom fw-bold">TalentHub</h4>
         </div>
         <div class="col-md-2 d-inline-flex">
            <div class="img-icon">
               <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" class="me-2 img-icon">
            </div>
            <div class="img-icon">
               <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="FaceBook" class="me-2 img-icon">
            </div>
            <div class="img-icon">
               <img src="https://cdn-icons-png.flaticon.com/512/684/684908.png" alt="Location" class="me-2 img-icon">
            </div>
         </div>
      </div>
   </div>
</footer>
