<footer class="bg-dark text-center text-white py-4">
      <div class="container">
            <div class="mb-3">
                  <a href="https://www.facebook.com" class="btn btn-outline-light btn-floating m-1 rounded-circle"
                        role="button" target=""><i class="fab fa-facebook-f"></i></a>
                  <a href="https://www.twitter.com" class="btn btn-outline-light btn-floating m-1 rounded-circle"
                        role="button" target="_blank"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.google.com" class="btn btn-outline-light btn-floating m-1 rounded-circle"
                        role="button" target="_blank"><i class="fab fa-google"></i></a>
                  <a href="https://www.instagram.com" class="btn btn-outline-light btn-floating m-1 rounded-circle"
                        role="button" target="_blank"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.linkedin.com" class="btn btn-outline-light btn-floating m-1 rounded-circle"
                        role="button" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                  <a href="https://www.github.com" class="btn btn-outline-light btn-floating m-1 rounded-circle"
                        role="button" target="_blank"><i class="fab fa-github"></i></a>
            </div>
            <div class="text-white fs-5">
                  <a class="title-primary title-logo text-decoration-none"
                        href="#"><span>©</span><span>2</span><span>0</span><span>2</span><span>5</span>
                        <span>&nbsp;</span>
                        <span>T</span><span>a</span><span>l</span><span>e</span><span>n</span><span>t</span><span>H</span><span>u</span><span>b</span>
                  </a>
            </div>
      </div>
</footer>
