<div class="container p-4">
   <div class="row align-items-center">
      <!-- Texto -->
      <div class="col-md-6">
         <p class="title-primary-custom mb-2">App de empleo</p>
         <h1 class="fw-bold mb-3">¡¡¡¡ La App para unir a los mejores profesionales !!!!</h1>
         <p class="mb-4">Reunimos los mejores profesionales con las mejores empresas del mundo</p>
         <div class="mb-3">
            <button class="btn btn-primary me-3">Regístrate</button>
            <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="userType" id="candidato">
               <label class="form-check-label" for="check1">Candidato</label>
            </div>
            <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="userType" id="empresa">
               <label class="form-check-label" for="check2">Empresa</label>
            </div>
         </div>
         <p>¿No tienes cuenta? <a href="#">Regístrate</a></p>
      </div>

      <!-- Imagen -->
      <div class="col-md-6 text-center">
         <img src="assets\img\equipo.png" alt="Equipo" class="img-fluid rounded shadow img-home">
      </div>
   </div>
</div>
