<div class="container py-4">
   <div class="row">
      <!-- Sección izquierda -->
      @if(esRegistroPublico)
      {
      <div class="col-md-5 mb-4">
         <h2 class="fw-bold title-primary mb-3">Regístrate y disfruta de nuestros servicios !!!!</h2>
         <ul class="mt-4 list-unstyled">
            <li><i class="fa-solid fa-check me-2"></i> Publicación de Vacantes.</li>
            <li><i class="fa-solid fa-check me-2"></i>Gestión de Vacantes por categoría.</li>
            <li><i class="fa-solid fa-check me-2"></i> Recepción de solicitud al instante.</li>
         </ul>
         <!-- <a class="btn btn-primary rounded-pill mt-4" href="#">Inicio Session</a> -->
         <p><b class="fw-bold">¿Ya tienes cuenta? </b><a [routerLink]="['/login']" routerLinkActive="active">Inicia
               sesión</a>😊
         </p>
      </div>
   }
      <!-- Formulario -->
      <div class="col-md-7">
         <div class="card shadow-sm">
            <div class="card-body">
               <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">

                  <div class="mb-3">
                     <label class="form-label">Email</label>
                     <input type="email" class="form-control" autocomplete="email" formControlName="email" />
                     @if(checkControl('email', 'required')){
                     <p class="text-danger my-2">Campo obligatorio</p>
                     }
                     @if(checkControl('email', 'pattern')){
                     <p class="text-danger my-2">El email no tiene un formato válido</p>
                     }
                  </div>

                  <div class="mb-3">
                     <label class="form-label">Password</label>
                     <input type="password" class="form-control" autocomplete="current-password"
                        formControlName="password" />
                     @if(checkControl('password', 'required')){
                     <p class="text-danger my-2">Campo obligatorio</p>
                     }
                     @if(checkControl('password', 'minlength')){
                     <p class="text-danger my-2">La contraseña debe tener al menos 10 caracteres</p>
                     }
                     @if(checkControl('password', 'maxlength')){
                     <p class="text-danger my-2">La contraseña no puede tener más de 15 caracteres</p>
                     }
                  </div>

                  <div class="mb-3">
                     <label class="form-label">Nombre</label>
                     <input type="text" class="form-control" autocomplete="nombre" formControlName="nombre" />
                     @if(checkControl('nombre', 'required')){
                     <p class="text-danger my-2">Campo obligatorio</p>
                     }
                  </div>

                  <div class="mb-3">
                     <label class="form-label">Apellidos</label>
                     <input type="text" class="form-control" autocomplete="apellidos" formControlName="apellidos" />
                     @if(checkControl('apellidos', 'required')){
                     <p class="text-danger my-2">Campo obligatorio</p>
                     }
                  </div>

                  @if(isRolEmpresa())
                  {
                  <div class="mb-3">
                     <label class="form-label">Empresa</label>
                     <input type="text" class="form-control" autocomplete="empresa" formControlName="empresa" />
                     @if(checkControl('empresa', 'required')){
                     <p class="text-danger my-2">Campo obligatorio</p>
                     }
                  </div>

                  <div class="mb-3">
                     <label class="form-label">CIF</label>
                     <input type="text" class="form-control" autocomplete="cif" formControlName="cif" />
                     @if(checkControl('cif', 'required')){
                     <p class="text-danger my-2">Campo obligatorio</p>
                     }
                  </div>

                  <div class="mb-3">
                     <label class="form-label">Dirección</label>
                     <input type="text" class="form-control" autocomplete="direccion" formControlName="direccion" />
                     @if(checkControl('direccion', 'required')){
                     <p class="text-danger my-2">Campo obligatorio</p>
                     }
                  </div>

                  <div class="mb-3">
                     <label class="form-label">País</label>
                     <select class="form-control" formControlName="pais">
                        <option value="" disabled selected>Seleccione un país</option>
                        @for(pais of paisesService.nombres; track pais;)
                        {
                        <option [value]="pais">
                           {{ pais }}
                        </option>
                        }
                     </select>
                     @if(checkControl('pais', 'required')){
                     <p class="text-danger my-2">Campo obligatorio</p>
                     }
                  </div>
                  }

                  <div class="mb-3">
                     <label class="form-label me-3">Rol:</label>
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="rol" value="EMPRESA" />
                        <label class="form-check-label">Empresa</label>
                     </div>
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="rol" value="CLIENTE" />
                        <label class="form-check-label">Candidato</label>
                     </div>
                     @if(!esRegistroPublico){
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="rol" value="ADMON" />
                        <label class="form-check-label">Administrador</label>
                     </div>
                  }
                     @if(checkControl('rol', 'required')){
                     <p class="text-danger my-2">Campo obligatorio</p>
                     }
                  </div>
                  @if(esRegistroPublico){
               <div class="form-check mb-3">
                     <input class="form-check-input" type="checkbox" formControlName="lopd" id="lopd" />
                     <label class="form-check-label" for="lopd">Acepto la política de privacidad</label>
                        @if(checkControl('lopd', 'requiredTrue')){
                        <p class="text-danger my-2">Es obligatorio aceptar la política de protección de datos</p>
                        }
               </div>
            }
            <div class="d-flex flex-wrap gap-2 mt-3">
                  <button type="submit" class="btn btn-primary rounded-pill w-100" [disabled]="reactiveForm.invalid">
                     Registrar
                  </button>
                  <button type="reset" class="btn btn-primary  rounded-pill w-20"  routerLinkActive="active">Borrar</button>
                  @if(!esRegistroPublico){
                  <button type="reset" class="btn btn-primary  rounded-pill w-20" (click)="volver()" routerLinkActive="active">Volver</button>
                  }
            </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
