/* Fuentes de texto */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* Variales */
:root {
  /* Primary Colors */
  --primary-color: #353d8d;
  --primary-color1: #454d99;
  --primary-color2: #535aa6;
  --primary-color3: #6269b2;
  --primary-color4: #7c82bf;
  --primary-color5: #8f94cc;
  /* Secondary Colors */
  --secondary-color: #ff6c1d;
  --secondary-color1: #ff6c1d;
  --secondary-color2: #ff6c1d;
  --secondary-color3: #ff6c1d;
  --secondary-color4: #ff6c1d;
  --secondary-color5: #ff6c1d;
  /* Neutral Colors */
  --neutral-color: #010103;
  --neutral-color1: #222226;
  --neutral-color2: #45454d;
  --neutral-color3: #676773;
  --neutral-color4: #9595a6;
  --neutral-color5: #f2f2fa;
  --bg-dark: #212529;
  /* Tipografias */
  --open-sans: "Open Sans", sans-serif;
  /* Hamburguesa */
  --burguer-menu-black: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --burguer-menu-white: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Estilos */
/* Letra */
.text-primary-custom {
  color: var(--primary-color) !important;
}
.title-primary {
  font-family: var(--open-sans) !important;
  font-weight: bold !important;
  color: var(--primary-color) !important;
}

/* Botones */
.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.btn-primary:hover {
  background-color: var(--primary-color1) !important;
  border-color: var(--primary-color1) !important;
}

/* navbar */
.navbar-nav .nav-link {
  color: var(--neutral-color5) !important;
}
.navbar-nav .nav-link:hover {
  color: var(--secondary-color1) !important;
}
.dropdown-menu {
  background-color: var(--bg-dark) !important;
  border: none !important;
  margin-bottom: 1em !important;
}
.dropdown-item {
  color: var(--neutral-color5) !important;
}
.dropdown-item:hover {
  color: var(--secondary-color1) !important;
  background-color: var(--bg-dark) !important;
}
.navbar-toggler {
  border-color: var(--neutral-color5) !important;
  box-shadow: var(--neutral-color5) !important;
}
.navbar-toggler-icon {
  background-image: var(--burguer-menu-black) !important;
}

.navbar-brand {
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Main */
main {
  min-height: 70vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
