<nav class="navbar navbar-expand-lg bg-dark p-4 mb-4">
   <div class="container-fluid">
      <a class="navbar-brand d-flex flex-column align-items-center" href="#">
         <img src="assets/img/logo.svg" alt="TalentHub" class="d-inline-block img-logo">
         <span class="d-inline-block fw-bold title-primary-custom fs-4">TalentHub</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav me-auto ms-4">
            <li class="nav-item"><a class="nav-link fw-semibold text-light" href="#">Candidato</a></li>
            <li class="nav-item"><a class="nav-link fw-semibold text-light" href="#">Empresa</a></li>
            <li class="nav-item"><a class="nav-link fw-semibold text-light" href="#">Sobre Nosotros</a></li>
         </ul>
         <div class="d-flex">
            <button class="btn btn-primary me-2">Regístrate</button>
            <button class="btn btn-primary">Mi cuenta</button>
         </div>
      </div>
   </div>
</nav>
