.title-logo span {
  display: inline-block;
  animation: colorCascade 1s ease-in-out infinite;
  animation-fill-mode: forwards;
}

.title-logo span:nth-child(1) {
  animation-delay: 0s;
}
.title-logo span:nth-child(2) {
  animation-delay: 0.1s;
}
.title-logo span:nth-child(3) {
  animation-delay: 0.2s;
}
.title-logo span:nth-child(4) {
  animation-delay: 0.3s;
}
.title-logo span:nth-child(5) {
  animation-delay: 0.4s;
}
.title-logo span:nth-child(6) {
  animation-delay: 0.5s;
}
.title-logo span:nth-child(7) {
  animation-delay: 0.6s;
}
.title-logo span:nth-child(8) {
  animation-delay: 0.7s;
}
.title-logo span:nth-child(9) {
  animation-delay: 0.8s;
}

@keyframes colorCascade {
  0% {
    color: #8f94cc;
  }
  25% {
    color: #7c82bf;
  }
  50% {
    color: #416d88;
  }
  75% {
    color: #353d8d;
  }
  100% {
    color: #8f94cc;
  }
}
.dropdown-menu{
  width: 100%;height: fit-content;
  overflow: auto; padding: 10px;
  background: black; border-radius: 8px;
  background-image: linear-gradient(147deg,black 0%, rgb(102, 115, 154) 74%);
}
.identidad {
  /* Efecto en el texto (lo que ya tenías probablemente) */
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;

  /* Nuevo: efecto para el fondo del botón */
  background: linear-gradient(135deg, #6610f2, #618ac7);
  border: none;
  transition: all 0.3s ease-in-out;
}

.identidad:hover {
  background: linear-gradient(135deg, #6610f2, #618ac7);
  transform: scale(1.05);
}