<nav class="navbar navbar-expand-lg bg-dark">
   <div class="container-fluid">
      <!-- navbar-toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-custom"
         aria-controls="navbar-custom" aria-expanded="true" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <!-- navbar-brand-aux -->
      <a class="navbar-brand-aux" href="#">
         <span class="title-logo fw-bold fs-4">
            <span>T</span><span>a</span><span>l</span><span>e</span><span>n</span><span>t</span><span>H</span><span>u</span><span>b</span>
         </span>
         <img src="assets/img/logo.svg" alt="Logo" width="90" height="90">
      </a>
      <!-- navbar-collapse -->
      <div class="navbar-collapse d-lg-flex collapse show" id="navbar-custom">
         <a class="navbar-brand col-lg-3 me-0" href="#">
            <img src="assets/img/logo.svg" alt="Logo" width="90" height="90">
            <span class="title-logo fw-bold fs-4">
               <span>T</span><span>a</span><span>l</span><span>e</span><span>n</span><span>t</span><span>H</span><span>u</span><span>b</span>
            </span>
         </a>
         <ul class="navbar-nav col-lg-6 justify-content-lg-center">
            <!-- TODO: Bucle for con las opciones del menú en base al rol del usuario (Admin,Empresa,Usuario) -->
            @if(usuario?.rol === 'CLIENTE'){
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Buscar Ofertas</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link disabled" aria-disabled="true" href="#">Mis solicitudes</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link disabled" aria-disabled="true">Mi perfil</a>
               </li>
            }
            @else if (usuario?.rol === 'EMPRESA') {
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Mis ofertas</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link disabled" aria-disabled="true" href="#">Publicar ofertas</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link disabled" aria-disabled="true">Mi perfil</a>
               </li>
            }
            @else if (usuario?.rol === 'ADMON') {
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page"routerLink="/admin/list/empresas" routerLinkActive="active">Empresas</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/admin/list/usuarios"routerLinkActive="active">Usuarios</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page"routerLink="/admin/list/vacantes" routerLinkActive="active">Vacantes</a>
               </li>
            }
            @else {
            <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" aria-disabled="true" href="login">Candidato</a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" aria-disabled="true" href="login">Empresa</a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Invitado</a>
               <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Ofertas</a></li>
                  <li><a class="dropdown-item" href="#">Empresas</a></li>
                  <li><a class="dropdown-item" href="registro">Registro</a></li>
               </ul>
            </li>
            }
         </ul>
         @if(!usuario){
         <div class="d-lg-flex col-lg-3 justify-content-lg-end">
            <!-- TODO: Bucle for con diferentes opciones en función de si el usuario se ha logueado o no -->
            @for(btn of arrNavBarButtons;track btn.route){
            <a class="btn btn-primary me-2 identidad" [routerLink]="[btn.route]" routerLinkActive="active">{{btn.text}}</a>
            }
         </div>
      }
      @else {
         <a class="btn btn-primary me-2 identidad" (click)="logout()" routerLinkActive="active">{{logOutBtn.text}}</a>
      }
      </div>
   </div>
</nav>
