<div class="container py-4 d-flex justify-content-center align-items-center" style="min-height: 60vh;">
   <div class="card p-4 form-login shadow-sm">
      <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">

         <div class="mb-3">
            <label for="email" class="form-label text-primary">Email</label>
            <input type="email" class="form-control" id="email" autocomplete="email" formControlName="email" />
            @if(checkControl('email', 'required')){
            <p class="text-danger my-2">Campo obligatorio</p>
            }
            @if(checkControl('email', 'pattern')){
            <p class="text-danger my-2">El email no tiene un formato válido</p>
            }
         </div>

         <div class="mb-4">
            <label for="password" class="form-label text-primary">Contraseña</label>
            <input type="password" class="form-control" id="password" autocomplete="current-password"
               formControlName="password" />
            @if(checkControl('password', 'required')){
            <p class="text-danger my-2">Campo obligatorio</p>
            }
         </div>

         <button type="submit" class="btn btn-primary rounded-pill w-100 fw-bold" [disabled]="reactiveForm.invalid">
            Inicio Session
         </button>

      </form>
   </div>
</div>
