<div class="container p-4">
    <h2>{{ pageTitle }}</h2>
    <table class="table table-bordered table-striped mt-4 m-2">
        <thead>
            <tr>
                @for (col of config.columns; track col) {
                <th>
                    {{ col.label }}
                </th>
                }
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @for (item of data; track item) {
            <tr>
                @for (col of config.columns; track col) {
                <td>
                    {{ item[col.key] }}
                </td>
                }
                <td>
                    @if(listType) {
                    <app-botonera [item]="item" [type]="listType"></app-botonera>
                    } @else {
                    <!-- Opcional: Mostrar algo si no hay tipo (ej. un guión o nada) -->
                    <span>-</span>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
